@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr'); /*font-family: 'Avenir Next Cyr', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); /*font-family: 'Inter', sans-serif;*/

body {
    background: url("img/background.png");
}

.container {
    width: auto;
    margin: 138px 150px 388px;
    display: grid;
    grid-template-columns: 1fr 1fr;
} @media (max-width: 640px) {
    .container {
        grid-template-columns: auto;
        margin: 0;
        justify-items: center;

    }
}

.contact-container {
    margin-right: 8px;
} @media (max-width: 640px) {
    .contact-container {
        margin: 0;
        width: min-content;
    }
}

.contact-container__contact-us {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #1A1A1A;
    margin: 0;
}

.contact-container__subtitle {
    margin-top: 13px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #1A1A1A;
}

.contact-container__forms-container {
    display: grid;
    grid-template-areas:
    "a b"
    "a b"
    "a b"
    "x x"
    "y y";
} @media (max-width: 640px) {
    .contact-container__forms-container {
        grid-template-areas: unset;
    }
}

.contact-container__forms-container label:nth-child(7) {
    grid-area: x;
} @media (max-width: 640px) {
    .contact-container__forms-container label:nth-child(7) {
        grid-area: auto;

    }
}

.contact-container__forms-container label:nth-child(8) {
    grid-area: y;
} @media (max-width: 640px) {
    .contact-container__forms-container label:nth-child(8) {
        grid-area: auto;
    }
    .contact-container__forms-container label {
        width: auto;
    }

}

.contact-container__forms-container label input {
    margin-top: 35px;
    margin-right: 32px;
    height: 64px;
    width: 299px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(202, 203, 210, 0.25);
} @media (max-width: 640px) {
    .contact-container__forms-container label input {
        width: 350px;
        margin-right: 0;
    }
}

.contact-container__large-forms {
    width: 630px!important;
} @media (max-width: 640px) {
    .contact-container__large-forms {
        width: 350px!important;
    }
}

.contact-container__forms-container input::placeholder {
    padding-left: 19px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #414042;
    opacity: 0.5;
}

.contact-container__forms-container select {
    padding-left: 19px;
    margin-top: 35px;
    height: 64px;
    width: 299px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(202, 203, 210, 0.25);
    color: #414042;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    opacity: 0.5;
} @media (max-width: 640px) {
    .contact-container__forms-container select {
        width: 350px;
    }
}

.contact-container__forms-container__button {
    margin-top: 51px;
    background: #1A1A1A;
    border-radius: 10px;
    width: 222px;
    height: 57px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
} @media (max-width: 640px) {
    .contact-container__forms-container__button {
        width: 350px;
    }
}

#map {
    width: 470px;
    height: 936px;
} @media (max-width: 640px) {
    #map {
        width: 350px;
        margin-top: 63px;
    }
}

.firstHeading {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.infoContent__subtitle {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.infoContent__contacts {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #858585;
}

.infoContent__contacts svg {
    margin-right: 10px;
}


